.footer__link {
  color: #FFFFFF;
  list-style: none;
  text-decoration: none;

}

.footer__link:hover {
  opacity: .8;
}


@media screen and (max-width: 320px) {
  .footer__link {
    margin-right: 0;
    margin-top: 32px;
  }
}
