.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  max-width: 640px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
